.archive {

	&__filter {

		&-title {
	
		}

		&-icon {
			width: 2rem;
			height: 2rem;
			position: absolute;
			right: 1.5rem;
			pointer-events: none;
		}

		&-wrapper {
			position: relative;
			display: flex;
			align-items: center;
    		justify-content: center;
		}

		&-select {
			-webkit-appearance: none;
			border: none;
			background: transparent;
			outline: none;
			padding: 1.5rem;
			padding-right: 4rem;
			font-size: 24px;
			font-weight: 500;
			line-height: 1.5;
			color: $color-body;
			text-rendering: optimizelegibility;
		}
	}

	&__item {
		position: relative;
		margin: 3rem 0rem;

		@include below (xs) {
			width: 100%;
		}

		@include above (xs) {
			width: calc(50% - 0rem);
		}

		&:hover {
			cursor: pointer;
		}
	}

	&__title {
		position: relative;
		z-index: 10;
		margin-bottom: 1rem;
	}

	&__excerpt {
		padding-bottom: 6rem;
	}

	&__btn {
		position: absolute;
		bottom: 0;
	}
}