.blog {

	&__post {
		min-height: 30rem;
		background: no-repeat center center;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: relative;

		@include above (sm) {
			width: calc(33.3% - 3rem);
			margin: 1.5rem;
		}

		&:hover {

			.blog__excerpt {
				height: auto;
				opacity: 1;
			}
		}
	}

	&__header {
		width: 100%;
	}

	&__excerpt {
		opacity: 0;
		height: 0;
		transition: all ease .6s;
	}
}