.customer-service {

	&--cta {
		background-image: url('../img/topographic.svg');
	}

	&__container {

	}

	&__btn {
		align-self: center;

		@include below (sm) {
			margin-bottom: 2.3rem;
		}
	}

	&__list {

		&.is-active {
			transition: all ease .6s;
			animation: fade-left .6s;
			animation-iteration-count: 1;
		}
	}

	&__cats {
		border: $beige .2rem solid;
		border-radius: .5rem;
		transition: all ease .6s;
		width: calc(100% - 3rem);
		margin: 1.5rem;
		background: $white;
		outline: none;
		padding: 3rem 1.5rem;

		@include above (sm) {
			padding: 6rem 3rem;
			width: calc(50% - 3rem);
		}

		&:hover {
			background: $beige;
			cursor: pointer;
		}

		&-item {
			border: $beige .2rem solid;
			border-radius: .5rem;
			transition: all ease .6s;
			margin: 1.5rem;
			width: 100%;
			text-align: center;

			@include between (xs, sm) {
				width: calc(50% - 3rem);
			}

			@include above (sm) {
				width: calc(33.3% - 3rem);
			}

			&:hover {
				background: $beige;
			}
		}
	}
}