.employees {

	&__employee {
		padding-top: 3rem;
		padding-bottom: 3rem;
		font-weight: 500;

		@include below (sm) {
			width: 100%;
		}

		a {
			color: $beige;
		}
	}

	&__img {
		overflow: hidden;
		border-radius: 50%;
		max-width: 8rem;
		height: auto;
		border: 2px solid $gray;
		margin-left: auto;
		margin-right: auto;
		filter: grayscale(100%);
		margin-bottom: 1.5rem;
	}

	&__wrap {

	}
}