
.footer {

	&__item {

		@include below (sm) {
			width: 100%;
		}
		
		p {
			color: $brown-light;
			margin-bottom: 0;
		}

		a {
			color: $brown-light;
			transition: all ease .3s;

			&:hover {
				color: $red;
			}
		}

		&--last {
			align-items: center;

			@include below (sm) {
				display: inline-block;
			}
		}
	}

	&__title {

		@include above (sm) {
			margin-top: 0;
		}
	}

	#menu-footer-nav {
		padding-top: 2rem;
		width: 100%;
		display: flex !important;
		flex-direction: column;
		top: 0;

		@include above (sm) {
			text-align: center;
			padding-top: 0;
		}

		.nav__item {
			opacity: 1;

			@include below (sm) {
				padding-left: 0;
			}
		}

		.nav__link {
			color: $brown-light;

			&:hover {
				color: $beige;
			}
	

			@include above (sm) {
				font-size: 2.8rem;
			}
		}
	}
}
