.header {
	position: relative;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;

	@include above (sm) {
		padding-top: 4.5rem;
		padding-bottom: 3rem;
	}

	&__container {
		position: relative;

		@include between (sm, lg) {
			flex-direction: column;
		}
	}

	&__logo {
		display: block;
		float: left;
		position: relative;
		z-index: 100000;

		img {
			width: 18rem;
			height: 4.1rem;
		}

		@include above (sm) {

			img {
				width: 15rem;
				height: 3.6rem;
			}
		}

		@include above (md) {

			img {
				width: 21.9rem;
				height: 5.3rem;
			}
		}
	}
}