.intro {

	&__item {
		position: relative;
		
		&--text {
			z-index: 10;

			// @include above (sm) {
			// 	top: -11rem;
			// }
	  	}

	  	&--img {
			// top: 5rem;
	  	}
	}

	&__wrap {
		padding: 3rem;

			@include above (sm) {
				padding: 5rem 3rem;
			}
	}
	
	&__contact {
		padding: 1.5rem 0rem;
	}

	&__btn {
		margin: 1rem;
	}

	&__title {
		margin-top: 0;
	}

	&__img {
		position: relative;
		width: 65%;
		display: block;

		&:nth-child(1) {
			z-index: 10;
		}

		&:nth-child(2) {
			top: -5rem;
			float: right;
		}
	}
}