/********************LAYOUTS********************/

/* Base Styles */


/* WYSIWYGs */
.wysiwygs {

  &__title {
      
      &--indent {

        @include above (sm) {
          margin-left: 16.66667%;
          width: 66.66667%;
          padding-left: .25rem;
        }
      }
  }

  &__col {

    a {
      text-decoration: underline;
      color: $color-body;
    }
	
  @include above (sm) {

    &.first {

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.last {

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.half-bg {
    position: relative;

    &--beige { 

      @include half-bg();

      &:after {
        background-image: url('../img/topographic.svg');
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
}

.bg {
  
  &--brown {
    color: $beige;

    h1, h2,
    h3, h4,
    h5, h5,
    h6 {
      color: $beige;
    }
  }
} 

.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}

//standard paddings change accordion to design
.padding {

  &--top {
    padding-top: 3rem;
  }
  
  &--bottom {
    padding-bottom: 3rem;
  }

  &--both {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 8rem;
    }

    &--bottom {
      padding-bottom: 8rem;
    }

    &--both {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }
}

.margin {

 &--top {
    margin-top: 3rem;
  }
  
  &--bottom {
    margin-bottom: 3rem;
  }

  &--both {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  @include above (sm) {

    &--top {
      margin-top: 8rem;
    }

    &--bottom {
      margin-bottom: 8rem;
    }

    &--both {
      margin-top: 8rem;
      margin-bottom: 8rem;
    }
  }
}