.materials {

	&__row {

		&.right {
			flex-direction: row-reverse; 
		}
	}

	&__item {

		@include below (sm) {
			width: 100%;
		}


		&--text {
			align-self: center;

			a {
				color: $red;
			}
		}

		&--img {
			background-clip: content-box;
			position: relative;

			&:before {
				position: absolute;
				z-index: -1;
				position: absolute;
				width: calc(100% - 3rem);
				height: 0;
				bottom: 0;
				left: 1.5rem;
				content: '';
				transition: all cubic-bezier(.77,0,.175,1) 1.2s;
			}

			 @include above (sm) {
				min-height: 48rem;
				display: flex;
				align-items: center;
			}

			&.right {
				@extend .col-sm-offset-1, .col-lg-offset-3;
			}

			&--beige {
				
				&:before {
					background: $beige;
				}
			}

			&.in-view {

				&:before {
					height: 100%;
				}
			}
		}
	}

	&__img {
		position: relative;
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
}