.nav {

	&__menu {
	    list-style: none;
	    position: relative;
	    z-index: 100;
	    width: 100%;
	    left: 0;
	    margin: 0;
	    padding: 0;
	    top: 77px;

		@include above (sm) {
			top: 0;
			width: auto;
			float: right;
			display: block !important;
		}

		&--secondary {
			padding-top: 3rem;

			@include above (sm) {
				display: none !important;
			}
		}

		&--language-switcher {
			padding-top: 0;
			width: auto;
			position: absolute;
			left: auto;
			right: 3rem;
			display: none;

			@include above (sm) {
				display: block;
				top: -2.5rem;
			}

			@include above (md) {
				right: 3.5rem;
			}

			.nav__item {
				opacity: 1;
				display: inline-block;
				padding-top: 0;
				padding-bottom: 0;
				padding: 0rem .8rem;

				&:nth-child(2) {

					&:after {
						content: '/';
						position: absolute;
						left: -.3rem;
						font-weight: 600;
						top: 50%;
						font-size: 12px;
						transform: translateY(-50%);
					}
				}
			}

			.nav__link {
				font-size: 12px;
				font-weight: 600;
				color: $gray;
				top: -.2rem;
				position: relative;
			}
		}
	}

	&__item {
		list-style: none;
		padding: .5rem 1.5rem;
		position: relative;
		opacity: 0;
		transition: all cubic-bezier(.77,0,.175,1) .6s;

		@include above (sm) {
			padding: 1rem .8rem;
			float: left;
			opacity: 1;
		}

		@include above (md) {
			padding: 1rem 1.5rem;
		}

		&.is-dropdown {

			@include above (sm) {

				&:hover {

					.nav__dropdown {
						display: block!important;
					}
				}
			}
		}

		&.is-animated {
			opacity: 1;
			transition-delay: 1.2s;
		}

		&.is-active > a {
			color: $beige;
		}
	}


	&__link {
		color: $color-body;
		transition: all ease .3s;
		font-weight: 500;
		font-size: 16px;

		&:hover {
			color: $beige;
		}

		&--contact {

			@include above (sm) {
				font-size: 22px;
			}			
		}

		&--no-hover {
			pointer-events: none;
			display: block;

			p {
				margin-bottom: 0;
			}
		}
	}


	&__icon svg {
		width: 1rem;
		height: 1rem;
		margin-left: .3rem;

		@include below (sm) {
			display: none;
		}
	}


	&__dropdown {
		display: block;
		padding: 0;
		top: 100%;
		background: $white;

		@include above (sm) {
			display: none;
			position: absolute;
		}

		&.is-visible {
			display: block;
		}

		&-trigger {

		}

		li {
			padding: 0;
		}

		a {
			padding: .8rem 2rem;
			display: inline-block;
			white-space: nowrap;

			&:hover {
				text-decoration: none;
			}
		}
	}
	


	&--mobile {

		@include below (sm) {
			position: fixed;
			z-index: 78888;
			top: 0;
			right: 0;
			height: calc(90vh - 0px);
			width: 100%;
			transform: translateY(-100%) translateZ(0);
			transition: all 1.2s cubic-bezier(.77,0,.175,1);
			background: $white;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			align-items: flex-end;

			&.is-open {
				transform: translateY(0) translateZ(0);
			}

			// Set body to fixed
			@at-root {		
				body.is-fixed {
					overflow: hidden;
					position: fixed;
					width: 100%;
					height: 100%;

					&:before {
						background: rgba($black, .8);
					}
				}
			}
		}
	}


	&-toggle {
		display: block;
		position: absolute;
		z-index:  88888;
		top: 50%;
		right: 1.5rem;
		transform: translateY(-49.9%);
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		cursor: pointer;
		font-size: 12px;
		text-transform: uppercase;
		display: flex;
		align-items: center;

		@include above (sm) {
			display: none;
		}

		&__label {
			color: $black;
			font-weight: 600;
			vertical-align: middle;
			padding-right: 1rem;
			padding-top: .05rem;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 3rem;
			height: 0.3rem;
			background: transparent;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 0.2rem;
				background: $black;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.4rem;
			}

			&::after {
				top: -.4rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}