.page {
	  
	&__hero {
		font-size: 22px;
		padding-top: 5rem;

		@include above (sm) {
			font-size: 28px;
			padding-top: 10rem;
		}

		a {
			color: $color-body;
			text-decoration: underline;
		}

		&--single {

			@include above (sm) {
				pointer-events: none;
				position: absolute;
				width: 100%;
				top: 50%;
				transform: translateY(-50%);
				z-index: 10;
				color: $white;
				padding-top: 0;

				.page__title {
					color: $white;
				}
			}
		}
	}

	&__title {
		margin-top: 0;
	}
}
