.portraits {

	&__row {

		&.right {
			flex-direction: row-reverse;
		}
	}

	&__item {


		&--text {
			align-self: center;
			line-height: 1.8;
		}

		&--img {
			background-clip: content-box;

			@include below (sm) {
				width: 100%;
			}

			&.right {
				@extend .col-sm-offset-1, .col-lg-offset-3;
			}
		}

		&.left {

			.portraits__description {
				right: auto;
				left: -11rem;

				i {

					&:before {

					}
				}
			}
		}
	}

	&__img {
		position: relative;
		margin-top: 3rem;
		margin-bottom: 3rem;

		@include below (sm) {
			width: calc(100% - 4rem);
			margin-left: 2rem;
		}

		@include above (sm) {
			margin-top: 6rem;
			margin-bottom: 6rem;
		}
	}

	&__description {
		position: absolute;
	    right: 5rem;
	    transform-origin: right top;
	    transform: rotate(90deg) translateX(100%);
	    top: 3rem;
	    font-weight: 500;

	    @include above (sm) {
	    	top: 6rem;
	    }

	    i {
	    	margin-left: 2rem;
	    	margin-right: 2rem;
	    	position: relative;

	    	&:before {
	    		content: '-';
	    		color: $red;
	    		position: absolute;
	    		right: 0;
	    		transform: scaleX(5);
	    	}
	    }
	}

	.bg--beige {
		background-image: url('../img/topographic.svg');
		background-repeat: no-repeat center center;
		background-size: cover;
	}

	.bg--brown {
		background-image: url('../img/topographic-light.svg'); 
		background-repeat: no-repeat center center;
		background-size: cover;
	}
}