.process {

	&__header {
		margin-top: 0;
	}

	&__item {
		border-radius: .3rem;
		padding: 3rem;
		overflow: hidden;
		margin: 1.5rem;
		width: 100%;

		@include above (sm) {
			width: calc(50% - 3rem);
		}

		@include above (md) {
			width: calc(25% - 3rem);
		}
	}

	&__icon {
		color: $brown;
		opacity: .1;
		position: absolute;
		right: 1.5rem;
		display: inline-block;
		font-size: 172px;
		font-style: normal;
		line-height: 1;
		bottom: -2rem;
	}

	&__title {
		margin-top: 0;
	}
}

.bg--brown {

	.process__item, .process__title {
		color: $brown!important;
	}
}