.product {

	&__nav {

		@include below (sm) {
			flex-direction: column;
		}

		&-anchor {
			margin-top: 1.5rem;

			& + & {

				@include above (sm) {
					margin-left: 1.5rem;
				}
			}
		}
	} 
	
	//data section - data og snolder
	&__data {

		&-list {
			
			@include below (sm) {	
				width: 100%;
			}
		}

		&-header {
			margin-top: 0;
		}
		
		&-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			border-top: 1px solid rgba($brown, .2);
			padding: 1rem 0;
			position: relative;

			&:last-child {
				border-bottom: 1px solid rgba($brown, .2);
			}

			&:after {
				background: $beige;
				width: 100%;
				height: 0;
				position: absolute;
				left: 0;
				bottom: 0;
				content: '';
				transition: all ease .3s;
				z-index: 0;
			}

			&:hover {

				&:after {
					height: 100%;
					top: 0;
				}
			}
		}

		&-title {
			margin-bottom: 0;
			color: $color-body;
			position: relative;
			z-index: 10;
		}

		&-icon svg  {
			width: 3rem;
			height: auto;
			z-index: 10;
			position: relative;
			fill: $brown;
		}

		&-blueprint {
			padding-top: 5rem;

			@include above (md) {
				padding-top: 0;
			}
		}
	}

	&__description {

		a {
			text-decoration: underline;
			color: $color-body;
		}
	}

	&__slider {

		&-link {
			display: flex;
		}
	}

	&__inquiry {

		&-item {
			font-weight: 500;

			p {
				margin-bottom: 3rem;
				font-size: 18px;
			}

			a {
				color: $red;
			}
		}
	}
}