.product-sort {

	&__header {
		margin-top: 0;
		margin-bottom: 3rem;
	}

	&__header-text {
		margin-bottom: 3rem;

		@include above (sm) {
			margin-bottom: 10rem;
		}
	}

	&__controls {

		@include below (sm) {
			flex-direction: column;	
		}	
	}

	&__filter {
		
		&:hover {
			cursor: pointer;
		}
	}

	&__item {
		margin: 3rem 0;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__excerpt {
		color: $gray;
	}

	&__btn {

		& + & {
			margin-left: .5rem;
		}

		&-wrap {
			display: flex;
		}
	}
	
	//had to hide these with css becasue of categories restructure
	[data-filter=".cat5"] {
	  	display: none;
	}

	[data-filter=".cat6"] {
	  	display: none;
	}
}

.mixitup-control-active {
	background: $brown;
	color: $beige;
}