.curtain {
    z-index: 100001;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    transition: height 0.4s ease-in-out;

    &.remove {
        width: 0
    }

    &__item {
        position: absolute;
        top: 0;
        width: 8.43333333%;
        height: 100%;
        transition: width 0.4s ease-in-out;
        background-color: $beige; 

        &:nth-child(2) {
            left: 8.3333333%;
        }

        &:nth-child(3) {
            left: 16.66666666%;
        }

        &:nth-child(4) {
            left: 24.99999999%;
        }

        &:nth-child(5) {
            left: 33.33333332%;
        }

        &:nth-child(6) {
            left: 41.66666665%;
        }

        &:nth-child(7) {
            left: 49.99999998%;
        }

        &:nth-child(8) {
            left: 58.33333331%;
        }

        &:nth-child(9) {
            left: 66.66666664%;
        }

        &:nth-child(10) {
            left: 74.99999997%;
        }

        &:nth-child(11) {
            left: 83.3333333%;
        }

        &:nth-child(12) {
            left: 91.66666663%;
        }

        &.remove {
            width: 0
        }
    }
}

.b-lazy {
    transition: opacity .3s ease;
    max-width: 100%;
    opacity: 0;
}

.b-lazy.b-loaded {
    opacity: 1;
}