.single {

	&__cat {
		padding-top: 1rem;
		font-weight: 600;
	}

	&__cat-link {
		position: relative;
		z-index: 10;
		font-size: 12px;

		a {
			color: $red;
		}
	}

	&__content {

		a:not(.btn) {
			text-decoration: underline;
			color: $color-body;
		}
	}

	&__btn {
		display: inline-block;

		&:hover {
			cursor: pointer;
		}
	}
}