.slider {
	position: relative;

	&--variations {
		overflow: hidden;
	}

	&__track {

		&--variations {

			.owl-stage-outer {
				overflow: visible !important;
			}
		}

		&--products {

			.slider__item {

				&:before {
					padding-bottom: 40rem;
				}
			}
		}
	}

	&__item {
		position: relative;
		z-index: 2;
		width: 100%;
		background: no-repeat center center;
		background-size: cover;

		&:before {
			content: '';
			display: block;
			height: 0;
			padding-bottom: 40%;

			@include below (sm) {
				padding-bottom: 30rem;
			}

			@include above (sm) {
				padding-bottom: 45rem;
			}

			@include above (lg) {
				padding-bottom: 70rem;
			}
		}

		&:after {
			background-color: $black;
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		    content: '';
		    opacity: .2;
		    z-index: 0;
		}
	}

	&__wrap {
		position: absolute;
	    width: 100%;
	    top: 0;
	    height: 100%;
	    z-index: 10;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    pointer-events: none;
	}

	&__container {

	}

	&__title {
		margin-bottom: 3rem;
		color: $white;
	}

	&__text {
		color: $white;
		
		a {
			pointer-events: all;
		}
	}
}


/**
 * Owl Carousel core
 **/

.is-slider {
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;

	&--thumbs {

		.owl-dots {
			list-style: none;
			bottom: 0 !important;
			pointer-events: all !important;

			&:after {
				display: none;
			}

			@include below (sm) {
				display: none !important;
			}
		}

		.owl-dot {
			width: 5rem;
			height: 5rem;
			background: no-repeat center center;
			background-size: cover;
			margin: .5rem;
			pointer-events: all;

			&.active {
				outline: $brown .2rem solid;
			}

			&:before, &:after {
				display: none;
			}
		}
	}

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;

		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		&-outer {
			position: relative;
			overflow: hidden;
			-webkit-transform: translate3d(0, 0, 0);
		}
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-transform: translate3d(0,0,0);
	}

	// Navigation
	.owl-nav {
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		justify-content: space-between;
		pointer-events: none;
	}

	.owl-nav,
	.owl-dots {
		&.disabled {
			display: none;
		}
	}

	.owl-dots {
		counter-reset: dots;
		position: absolute;
		bottom: 2rem;
		right: 3rem;
		display: flex;
		align-items: center;
		pointer-events: none;

		&:after {
    		content: '0' counter(dots);
    		color: $white;
    		font-weight: 600;
    		bottom: 0;
    		z-index: 100;
    		margin-left: 3rem;
		}
	}

	.owl-prev, .owl-next {
		background: $beige;
		border-radius: 50%;
		display: inline-block;
		padding: 2.2rem;
		line-height: 0;
		font-size: 12px;
		margin: 1.5rem;
		background-size: 18px 18px;
		background-repeat: no-repeat;
		background-position: center center;
		pointer-events: all;
	}

	.owl-prev {
		background-image: url(../img/arrow-back.svg);		
	}

	.owl-next {
		background-image: url(../img/arrow-forward.svg);		
	}

	.owl-prev,
	.owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all .3s ease;

		&.disabled {
			opacity: 0;
			cursor: default;
		}
	}

	.owl-dot {
		counter-increment: dots;
		font-weight: 600;

		&.active {

			&:before {
	    		content: '0' counter(dots);
	    		color: $white;
	    		bottom: 0;
	    		z-index: 100;
	    		margin-right: 2rem;
			}

			&:after {
				content: '-';
				color: $white;
				transform: scaleX(5);
				position: absolute;
			}
		}
	}

	// States
	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}

	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}

	/**
	 * Animations
	 **/

	 // Defaults
	.animated {
		animation-duration: 1000ms;
		animation-fill-mode: both;
	}

	.owl-animated-in {
		z-index: 0;
	}

	.owl-animated-out {
		z-index: 1;
	}
}