.btn {
	padding: 1.4rem 2.5rem;
	font-weight: 500;

	&--brown {
		background: $brown;
		color: $beige;
	}

	&--round {
		border-radius: 50%;
		background: $brown;
		padding: 1.2rem;
		background-image: url('../img/arrow-forward.svg');
	}
}