.cta {
	background-image: url('../img/topographic.svg');
	background-size: cover;
	background-repeat: no-repeat; 
	padding-top: 8rem;
	padding-bottom: 8rem;

	@include above (sm) {
		padding-top: 15rem;
		padding-bottom: 15rem;
	}

	@include above (lg) {
		padding-top: 20rem;
		padding-bottom: 20rem;
	}

	&--layout {
		padding-top: 8rem;
		padding-bottom: 8rem;
		background: no-repeat center center; 
		background-size: cover;
		position: relative;
		line-height: 1.8;

		&:after {
			height: 100%;
			width: 100%;
			position: absolute;
			right: 0;
			top: 0;
			content: '';
		}

		@include above (lg) {
			padding-top: 15rem;
			padding-bottom: 15rem;
		}

		.cta__title {
			margin-bottom: 0;
		}

		.btn--brown {
			margin-top: 3rem;
			display: inline-block;
		}
	}

	&__container {
		position: relative;
		z-index: 10;
	}

	&__title {
		padding-bottom: 3rem;
		margin-top: 0;
	}
}

.none-gradient {
	
	&:after {
	    background: linear-gradient(to right, $white, $white 35% ,transparent);
	}
}

.right.none-gradient {

	&:after {
	     background: linear-gradient(to left, $white, $white 35% ,transparent);
	}
}

.beige-gradient {

	&:after {
		background: linear-gradient(to right, $beige, $beige 35% ,transparent);
	}
}

.right.beige-gradient {

	&:after {
	     background: linear-gradient(to left, $beige, $beige 35% ,transparent);
	}
}

.brown-gradient {
	color: $white;

	.cta__title {
		color: $white;
	}

	.btn--brown {
		background: $beige;
		color: $brown;
	}

	&:after {
		background: linear-gradient(to right, $brown, rgba($brown, .8 ) 60% ,transparent);
	}
}

.right.brown-gradient {

	&:after {
	     background: linear-gradient(to left, $brown, $brown 35% ,transparent);
	}
}