//gravity forms

.gform {
	&_wrapper {
		margin: 0 !important;
		max-width: none !important;
	}

	&_body {
		width: 100% !important;
		text-align: center;
	}

	&_fields {
		list-style: none;
		padding-left: 0;
	}

	&_title {
		font-size: 3rem !important;
		font-weight: 400 !important;
	}

	// Submit
	&_button {
		margin: 0 !important;
		display: inline-block;
		-webkit-appearance: none;
		cursor: pointer;
		transition: all .3s ease; 
		outline: none;
		border: none;

		@extend .btn--brown, .btn;

		&:hover {

		}
	}

	// Submit wrapper
	&_footer {
		text-align: center;
	}

	&_confirmation_wrapper {
		text-align: center;
	}
}

/**
 * Form fields
 **/

.gfield {
	margin-bottom: 1.5rem;
	padding-right: 0 !important;

	// Labels
	&_label {
		display: none !important;
	}

	&_required {
		color: red;
	}

	// Description
	&_description {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	&_select {
		-webkit-appearance: none;
		border: none;
		border: 2px solid $brown;
		padding: 8px 6px!important;
		border-radius: 0;
		background: transparent;
		outline: none;
		line-height: 1.3!important;
	}

	// Fields
	input[type="email"],
	input[type="text"],
	textarea {
		display: block;
		padding: .5rem;
		line-height: 1 !important;
		background: transparent;
		border: none;
		border: 2px solid $brown;
		-webkit-appearance: none;
		transition: all 0.3s ease;
		padding: 8px 5px!important;
		text-indent: .25em;
		margin-left: auto;
		margin-right: auto;
		border-radius: 0;

		&:hover, &:focus {
			
		}

		&:focus, &:active, &:visited {
			outline: none;
			
		}
	}
}

.ginput_container_select {
	position: relative;

	&:after {
		position: absolute;
		right: 1rem;
		pointer-events: none;
		background-image: url('../img/arrow-down.svg');
		width: 2rem;
		height: 2rem;
		content: '';
		top: 50%;
		transform: translateY(-50%);
	}
}

.gf_left_half, .gf_right_half {

	@media (min-width: 640px) {
		width: calc(50% - 1rem)!important;
	}
}

.gf_left_half {

	@media (min-width: 640px) {
		margin-right: 2rem;
	}
}

/**
 * Validations
 **/

.validation_error {
	color: red !important;
	text-align: left !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 0 !important;
}

.gfield_error {
	min-width: 100%!important;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;

	.gfield_label,
	.gfield_required {
		color: red !important;
	}

	.validation_message {
		color: red !important;
		font-size: 1.2rem !important;
	}

	input[type="email"],
	input[type="text"],
	textarea {
		border: 0.2rem solid red !important;
	}
}

input::placeholder {
	color: $color-body;			
}

textarea::placeholder {
	color: $color-body;			
}