.login {

	&__form {
		padding: 3rem;
		border-radius: .3rem;

		a {
			color: $red;
		}
	}

	&-username, &-password {
		display: flex;
		flex-direction: column;

		label {
			padding-bottom: .5rem;
		}

		input {
			padding: .8rem;
			outline: none;
		}
	}

	&-submit {

		input {
			cursor: pointer;
			border: none;
			@extend .btn, .btn--brown;
		}
	}
}