@keyframes fade-left {
  0% { 
  	opacity: 0;
  	left: -.5rem;
  }

  100% {
	opacity: 1;
	left: 0;
  }
}

.fade-up {
	transition: all .6s ease;
	transform: translate3d(0px, 100px, 0px) translateZ(0);
	backface-visibility: hidden;
	opacity: 0;

	@include above (sm) {
		transform: translate3d(0px, 150px, 0px) translateZ(0);
	}
}

.fade-in {
	transition: all .6s ease;
	backface-visibility: hidden;
	opacity: 0;
}

.fade-up.in-view {
	opacity: 1;
	transform: translate3d(0px, 0px, 0px) translateZ(0);
}

.fade-in.in-view {
	opacity: 1;
}