/* Color classes (modify as needed) */

$colors: "white" $white, "black" $black, "brown" $brown, "beige" $beige, "red" $red, "brown-light" $brown-light, "gray" $gray;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value;
  }

  .bg--#{$label} {
    background-color: $value; 
  }
}
