/********************GLOBAL********************/

* {
  /* (http://paulirish.com/2012/box-sizing-border-box-ftw/) */
  box-sizing: border-box;

  &:after,
  &:before {
    box-sizing: border-box;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  font-family: $font-body;
  color: $color-body;
}

body {
  background-color: $white;
  overflow-x: hidden;
  line-height: 1.5;
  margin: 0;
  font-size: $base-font-size;

  &:before {
    content: '';
    position: absolute;
    bottom: -10vh;
    width: 100%;
    height: 100vh;
    background: rgba($black, 0);
    left: 0;
    top: 0;
    z-index: 20;
    pointer-events: none;
    transition: all cubic-bezier(.77,0,.175,1) 1.2s;
  }

  @include above (sm) {
    font-size: $base-font-size-desktop;
  }
}

/* Links */
a, .a {
  text-decoration: none;
  outline: none;
}

/* Figures and Blockquotes */
figcaption {
  font-style: italic;
  text-align: center;
}


blockquote {
  position: relative;
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
  padding: 1rem;

  p {
    display: inline;
  }
}

cite {
  display: block;
  font-style: normal;
}

/* Paragraphs and Lists
   ========================================================================== */

p, ul, ol {
  margin: 0 0 1.5rem;
}

ul, ol {
  ul, ol {
    margin-bottom: 0;
  }
}


/* Default Image Styles */
img {
  height: auto;
  max-width: 100%;
}

::selection {
  background: $brown;
  color: $beige;
}

:-moz-selection {
  background: $brown;
  color: $beige;
}


/* WordPress Image Styles */
[class^="wp-image-"], [class*=" wp-image-"], .wp-caption {
  display: block;
  height: auto;
  max-width: 100%;

  .wp-caption & {
    padding: 0;
    border: 0;
  }

  .wp-caption-text {
    font-size: 75%;
    font-style: italic;
    margin: 0;
    padding: 16px 16px 12px;
  }
}

/* Containers */
.wrap, .contain, .constrain {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  word-wrap: break-word;
}

.wrap {
  max-width: 1440px;
}

.contain {
  max-width: 700px;
}

.constrain {
  max-width: 450px;
}

/*
 * HELPER CLASSES
 */

.hpad {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include above (sm) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.center {
  text-align: center;
}

.alignleft {
  margin: 1rem auto;

  @include above (sm) {
    margin: 0 1rem 1rem 0;
    float: left;
  }
}

.aligncenter {
  margin: 1rem auto;
  clear: both;
}

.alignright {
  margin: 1rem auto;

  @include above (sm) {
    margin: 0 0 1rem 1rem;
    float: right;
  }
}

.is-hidden {
  display: none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
