/********************MIXINS*********************/

@mixin clearfix() {

	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin half-bg($color: $beige) {

	&::after {
		content: '';
		background: $color;
		height: calc(50% + 17px);
		width: 100%;
		bottom: 0;
		left: 0;
		position: absolute;
	}
}
