/********************VARIABLES********************/

// Custom fonts example (modify as needed)
@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600&display=swap');

// Fonts
$font-body: 'Dosis', sans-serif; 
$font-headings: 'Dosis', sans-serif;

// Base sizes
$base-font-size: 16px; // General font-size, also used for mobile - default 16px
$base-font-size-desktop: 16px; // Desktop font-size - default 16px 

/********* Colors *********/
$brown: #251B1A;
$brown-light: #7F6E6E;
$beige: #CCBBA9;

$red: #733B3E;

$gradient: linear-gradient(180deg, rgba(transparent, 0) 40%, rgba($beige, 0.95) 100%);

$white: white;
$gray: #C6C7C9;
$black: black;

// Set font colors
$color-body: $brown;
$color-headings: $color-body;


// Bootstrap Grid only
//


// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 480px,
  // Small screen / phone
  sm: 768px,
  // Medium screen / tablet
  md: 992px,
  // Large screen / desktop
  lg: 1170px,
  // Extra large screen / wide desktop
  xl: 1440px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 !default;
$grid-gutter-width:          3rem !default; // 2rem

//missing variables
$enable-flex:               false !default;
$enable-grid-classes:        true !default;